.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Ensures navbar is positioned relatively within its container */
  width: 100%; /* Ensures navbar spans the full width */
  z-index: 1000; /* High z-index to ensure navbar is above other content */
}

.logo {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 0;
  margin-left: auto;
  font-size: 20px;
}

.nav-links li {
  padding: 10px;
  margin-right: 35px;
}

.nav-link, .nav-links a {
  color: #007BFF; /* Initial color: Blue */
  text-decoration: none;
  display: block;
}

.nav-links a:hover {
  color: #FFC107; /* Hover color: Amber */
}

.nav-links a:active, .active {
  color: #e61520; /* Active color: Red */
}

.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  padding: 2%;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
}

@media (max-width: 991px) {
  .menu-toggle {
      display: flex;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: fixed; /* Changed from absolute to fixed */
      top: 70px; /* Adjust top as needed */
      left: 0;
      background-color: #fff;
      z-index: 999; /* Ensure the nav-links overlay other content */
      box-shadow: 0 8px 16px rgba(0,0,0,0.3); /* Optional: adds shadow for better visibility */
  }

  .nav-links.open {
      display: flex;
  }

  .nav-links a:hover, .nav-links a:active, .active {
      color: #e61520; /* Active and hover colors are red on mobile */
  }
}
